<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Canonical -->
    <link rel="canonical" href="https://sasecloudmap.com/{{ SOURCE }}" />
    <!-- HTML Meta Tags -->
    <title>{{ SOURCE }}'s Points of Presence (PoPs)</title>
    <meta name="description" content="An Interactive Map of {{ SOURCE }}'s Points of Presence." />
    <meta name="keywords" content="data centers, cloud, edge, sase, datacenters, points of presence, {{ SOURCE }}, cloudflare" />
    <link rel=icon href=https://interactive.cf-testing.com/favicon.png>
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ SOURCE }}'s Points of Presence" />
    <meta property="og:description" content="An Interactive Map of {{ SOURCE }}'s Points of Presence." />
    <meta property="og:image" content="https://interactive.cf-testing.com/map-thumbnail.png" />
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="/" />
    <meta property="twitter:url" content="/" />
    <meta name="twitter:title" content="{{ SOURCE }}'s Points of Presence" />
    <meta name="twitter:description" content="An Interactive Map of {{ SOURCE }}'s Points of Presence." />
    <meta name="twitter:image" content="https://interactive.cf-testing.com/map-thumbnail.png" />
    <!-- Viewport -->
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <!-- Mapbox -->
    <!-- <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet" />
         <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script> -->
    <!-- Mapbox Conditional -->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-supported/v2.0.0/mapbox-gl-supported.js"></script>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        min-height: 50%;
      }
      #info {
        display: table;
        position: relative;
        margin: 0px auto;
        word-wrap: anywhere;
        white-space: pre-wrap;
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 11px;
        text-align: center;
        color: #222;
        background: rgba(255, 255, 255, 0.8);
      }
      i {
        font-style: italic;
        font-size: 9px;
      }
      .cloudflare-icon {
        visibility: hidden;
      }
      #menu {
        background: #fff;
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 10px;
        border-radius: 3px;
        width: 120px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        font-family: 'Open Sans', sans-serif;
      }
      #menu a {
        font-size: 13px;
        color: #404040;
        display: block;
        margin: 0;
        padding: 0;
        padding: 10px;
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        text-align: center;
      }
      #menu a:last-child {
        border: none;
      }
      #menu a:hover {
        background-color: #f8f8f8;
        color: #404040;
      }
      #menu a.active {
        background-color: #3887be;
        color: #ffffff;
      }
      #menu a.active:hover {
        background: #3074a4;
      }
    </style>
  </head>
  <body>
    <!-- Mapbox DIV -->
    <nav id="menu"></nav>
    <div id="map"></div>
    <pre id="info"></pre>
    <script>
        // Load necessary Scripts
        function loadScript(jsSource, cssSource, callback) {
          const headElement = document.getElementsByTagName('head')[0];
          const scriptElement = document.createElement('script');
          const styleElement = document.createElement('link');
          styleElement.href = cssSource;
          styleElement.rel = 'stylesheet';
          headElement.appendChild(styleElement);
          function runCallback() {
            if (callback) {
              callback();
              scriptElement.onload = scriptElement.onreadystatechange = null;
              callback = null;
            }
          }
          scriptElement.type = 'text/javascript';
          // Most browsers
          scriptElement.onload = runCallback;
          // Internet Explorer
          scriptElement.onreadystatechange = function () {
            if (this.readyState === 'complete') {
              runCallback();
            }
          };
          scriptElement.src = jsSource;
          headElement.appendChild(scriptElement);
        }

        // Mapbox Conditional
        if (mapboxgl.supported() === false) { // Default should be false
          // This is where you will load Mapbox.js & initialize a Static Tile map (loads slower)
          loadScript(
          'https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js',
          'https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css',
          initMapboxJS
          );
          console.log("Initialize legacy Mapbox JS...")
          console.log("You are probably using Cloudflare RBI, no?")
        } else {
              // This is where you will load Mapbox GL JS & initialize a WebGL map (loads faster)
              loadScript(
          'https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js',
          'https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css',
          initMapboxGLJS
          );
          console.log("Initialize Mapbox GL JS with WebGL...")
        }

        // MAIN VARIABLES
        var not_cf = 'not_cf';
        const icon_url1 = 'https://interactive.cf-testing.com/cloudflare.png';
        const icon_url2 = 'https://interactive.cf-testing.com/{{ SOURCE }}.png';
        const cloudflare_data = {{ CLOUDFLARE_DATASET }};
        const original_datasets = {{ DATASET }};

        // GENERAL SCRIPTS
        // Title
        document.getElementById('info').innerHTML = "<b>{{ SOURCE }}</b> PoPs<br><i>Disclaimer: data might be outdated or broken.</i>"
        // Create a Go Home link
        const homelink = document.createElement('a');
                  homelink.id = 'go-home';
                  homelink.href = '/';
                  homelink.textContent = 'Home';
          const layers = document.getElementById('menu');
          layers.appendChild(homelink);

        // LOADING MAPBOX
        // Initialize legacy Mapbox JS
        // For browsers that do NOT support WebGL
        function initMapboxJS() {
          L.mapbox.accessToken = 'pk.eyJ1IjoidG90b3RhdHV0dSIsImEiOiJjbGRpdTh4anMwMjZuM3Brd2l2bmZ1M2RtIn0.FqpXdXrGTOj5Ee_jt_ED-Q';
          var map = L.mapbox.map('map')
            .setView([0, 0], 3)
            .addLayer(L.mapbox.styleLayer('mapbox://styles/tototatutu/cleam2gv9000b01mp7mukt46m')) //.styleLayer('mapbox://styles/mapbox/dark-v10'))
          map.setMaxZoom(6);
          map.setMinZoom(3);
          // Set maximum bounds to prevent panning to the right or left
          var maxBounds = L.latLngBounds(
            L.latLng(-90, -180), // Southwest coordinates
            L.latLng(90, 180)    // Northeast coordinates
          );
          map.setMaxBounds(maxBounds);
          // Disable panning outside of the bounds
          map.on('drag', function() {
            map.panInsideBounds(maxBounds, { animate: false });
          });
          // Set iconURL and load GeoJSON data based on condition
          var defaultIconUrl = '';
          // One Vendor
          if (cloudflare_data === 'not_cf') {
            defaultIconUrl = icon_url1;
            // Load icon
            L.mapbox.marker.icon = L.icon({
              iconUrl: defaultIconUrl,
              iconSize: [18, 8],
              iconAnchor: [0, 0],
              popupAnchor: [0, 0]
            });
            // Create feature layer and set GeoJSON data
            var myLayer = L.mapbox.featureLayer(null, {
              pointToLayer: function(feature, latlon) {
                return L.marker(latlon, {
                  icon: L.mapbox.marker.icon
                });
              }
            }).addTo(map);
            // Load and display GeoJSON
            myLayer.setGeoJSON(original_datasets);
          }
          // Vendor Comparison
          else {
            defaultIconUrl = icon_url2;
            othertIconUrl = icon_url1;
            // First Vendor
            var myLayer = L.mapbox.featureLayer(null, {
              pointToLayer: function(feature, latlon) {
                return L.marker(latlon, {
                  // Load icon
                  icon: L.mapbox.marker.icon = L.icon({
              iconUrl: defaultIconUrl,
              iconSize: ["auto", "auto"],
              iconAnchor: [0, 0],
              popupAnchor: [0, 0],
              className: "{{ SOURCE }}-icon"
            })
                });
              }
            }).addTo(map);
            // Second Vendor
            var myotherLayer = L.mapbox.featureLayer(null, {
              pointToLayer: function(feature, latlon) {
                return L.marker(latlon, {
                  // Load icon
                  icon: L.mapbox.marker.icon = L.icon({
                      iconUrl: othertIconUrl,
                      iconSize: ["auto", "auto"],
                      iconAnchor: [0, 0],
                      popupAnchor: [0, 0],
                      className: "cloudflare-icon"
                    })
                });
              },
            }).addTo(map);
            // Load and display GeoJSONs
            myLayer.setGeoJSON(original_datasets);
            myotherLayer.setGeoJSON(cloudflare_data);
            // Create a link to toggle the visibility of cloudflare_data
            var toggleLink = document.createElement('a');
            toggleLink.href = '#';
            toggleLink.innerText = 'Compare with Cloudflare';
            toggleLink.onclick = function() {
              var elements = document.getElementsByClassName("cloudflare-icon");
              for (var i = 0; i < elements.length; i++) {
                if (elements[i].style.visibility === 'hidden') {
                  elements[i].style.visibility = "visible";
                } else if (elements[i].style.visibility === 'visible') {
                  elements[i].style.visibility = 'hidden';
                } else {
                  elements[i].style.visibility = "visible";
                }
              }
            }
            // Add the toggle link to the DOM
            document.getElementById('menu').appendChild(toggleLink);
          }
        };

        // Initialize Mapbox GL JS
        // For modern browsers that do support WebGL
        function initMapboxGLJS() {
          // Public Mapbox read-only Token
          mapboxgl.accessToken = 'pk.eyJ1IjoidG90b3RhdHV0dSIsImEiOiJjbGRpdTh4anMwMjZuM3Brd2l2bmZ1M2RtIn0.FqpXdXrGTOj5Ee_jt_ED-Q'
          const filterGroup = document.getElementById('filter-group');
          const map = new mapboxgl.Map({
              container: 'map', // container ID
              // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
              style: 'mapbox://styles/tototatutu/cleam2gv9000b01mp7mukt46m', //'mapbox://styles/mapbox/dark-v10',
              zoom: 2, // starting zoom
              center: [0, 0], // // starting center in [lng, lat]
              projection: 'mercator', // display map as a 3D globe
              maxZoom: 6,
              minZoom: 1,
              // cooperativeGestures: true // scroll-to-zoom requires using the control or command key while scrolling to zoom the map
          })
          function addLayer(map, imageUrl, dataset, markerName, layerId, visibility) {
            map.loadImage(
              imageUrl,
              (error, image) => {
                if (error) throw error
                map.addImage(`${markerName}-marker`, image)
                map.addSource(markerName, {
                  type: 'geojson',
                  data: dataset
                })
                map.addLayer({
                  id: `${layerId}-layer`,
                  type: 'symbol',
                  source: markerName,
                  layout: {
                    'visibility': visibility,
                    'icon-image': `${markerName}-marker`,
                    'icon-size': {
                      stops: [
                        [4, 0.5], // Smaller icons at lower zoom levels
                        [6, 2],
                        [15, 2], // Larger icons at higher zoom levels
                      ]
                    },
                    'text-field': ['get', 'title'],
                    'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
                    'text-allow-overlap': true,
                    // 'text-ignore-placement': true,
                    'text-optional': true,
                    'text-offset': [10, 0],
                    'text-anchor': 'top',
                    // 'icon-offset': [Math.random() * (20 - (-10)) + (-10), Math.random() * (20 - (-10)) + (-10)], // Add a random range of numbers between -0.5 and 0.5 to the icon-offset property
                    'symbol-sort-key': ['get', 'id'], // Assign a unique sorting key based on the 'id' property of the feature
                    'icon-allow-overlap': true,
                    'icon-ignore-placement': true,
                    'icon-padding': 10, // Add a padding of 10 pixels around the icons
                    'symbol-spacing': 30, // Add a minimum distance of 30 pixels between icons
                    // Prevent icon overlapping requires adjusting the data in the dataset GeoJSON objects!
                  }
                })
              }
            )
          }
          // Conditionals
          // Show Cloudflare only
          if (cloudflare_data == 'not_cf') {
            map.on('load', () => {
              addLayer(map, 'https://interactive.cf-testing.com/cloudflare.png', original_datasets, 'cloudflare', 'cloudflare', 'visible');
            });
          }
          // Show comparison
          else {
            map.on('load', () => {
              addLayer(map, 'https://interactive.cf-testing.com/{{ SOURCE }}.png', original_datasets, '{{ SOURCE }}', '{{ SOURCE }}', 'visible');
              addLayer(map, 'https://interactive.cf-testing.com/cloudflare.png', cloudflare_data, 'cloudflare', 'cloudflare', 'none');
            });
            // After the last frame rendered before the map enters an "idle" state.
            map.on('idle', () => {
                // If these two layers were not added to the map, abort
                if (!map.getLayer('cloudflare-layer') || !map.getLayer('{{ SOURCE }}-layer')) {
                    return;
                }
                // Enumerate ids of the layers.
                const toggleableLayerIds = ['cloudflare-layer'];
                // Set up the corresponding toggle button for each layer.
                for (const id of toggleableLayerIds) {
                    // Skip layers that already have a button set up.
                    if (document.getElementById(id)) {
                        continue;
                    }
                    // Create a link.
                    const link = document.createElement('a');
                    link.id = id;
                    link.href = '#';
                    link.textContent = 'Compare with Cloudflare';
                    link.className = '';
                    // Show or hide layer when the toggle is clicked.
                    link.onclick = function (e) {
                        const clickedLayer = this.id;
                        e.preventDefault();
                        e.stopPropagation();
                        const visibility = map.getLayoutProperty(
                            clickedLayer,
                            'visibility'
                        );
                        // Toggle layer visibility by changing the layout object's visibility property.
                        if (visibility === 'visible') {
                            map.setLayoutProperty(clickedLayer, 'visibility', 'none');
                            this.className = '';
                        } else {
                            this.className = 'active';
                            map.setLayoutProperty(
                                clickedLayer,
                                'visibility',
                                'visible'
                            );
                        }
                    };
                    const layers = document.getElementById('menu');
                    layers.appendChild(link);
                }
            });
          }
      };
    </script>
    <!-- <footer>
         <p>Disclaimer: Educational purposes only. All locations data should come from official sources, but might miss some data or only be approximations of reality.</p>
         </footer> -->
  </body>
</html>
